.xyz {
    background: yellowgreen;
    display: inline;

}
.xyz{
    color: red
}

h1{
    width: 60px
}


.abc{
    color: rgb(19, 131, 230);
}




.tanha{
border-collapse: collaspe ; 
}

.tanha{
    width: 500px ; height: 300px ; text-align: center;"
}
